/* Add CSS styling here */
/*
*{
    box-sizing:border-box;
    border:1px solid grey;*/ /*helps see sections
    max-width:100%;
}
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header, section{ 
    padding: 4% 0;
}

/*Navigation Button*/

html{
    font-size:62.5%;
}

body{
    font-size: 1.6rem;
}

body{
    background-color:#F2E6DD ;
    background-size: auto;
    background-repeat: repeat;
}

header{
    font-family: 'Chelsea Market', cursive;
    font-size: 200%;
    background-color: #E2D3C7;
    padding: 1%;
    
}
h1 {
    padding: 1%;
    position: relative;
    
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
    
}

nav{
    display: flex;
    justify-content: space-between;
    position: relative;
    
}

/*top section*/

.topsection {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2% auto;
    padding: 5%;
    background-image: url('https://images.pexels.com/photos/4721999/pexels-photo-4721999.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 75vh;
}

.topsection{
    
    font-family: 'Merriweather', serif;
    font-size:large;
    object-fit: scale-down;
  
}

.topsection h1 {
    background-color: #BDA490;
    margin: 0 auto;
    color: white;
    font-weight: 700;
    text-align: center;
    margin-top: 5%;
    width: 150vh;
}

.topsection a {
    display: flex;
    text-decoration: none;
    margin: 0 auto;
    align-items: center;
    padding: 0;
    margin-top: auto;
    max-width: 100%;
    
}
.topsection a button {
    align-items: center;
    text-align: center;
    margin: 0 auto;
}




/*footer*/

footer{
    background-color: whitesmoke;
    padding: 2%;
    text-align: center;
}

/*Portfolio elements*/

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.row div{
    width: 30%;
    margin: 2% 0;
}

.element{
    text-align: center;
    
}
.element img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button{
background-color: rgb(189, 175, 151);
font-family: 'Oswald', sans-serif;
font-stretch: condensed;
color: black;
border:black solid 1px;
padding: 5px 10px;
}

button:hover{
    background-color: black;
    color: white;
    border: white solid 1px;
    padding: 5px 10px;
}

button a{
    text-decoration: none;
    color: inherit;
}


@media(max-width: 800px){

}

@media(max-width: 500px){
    nav{
       display: :flex;
       flex-direction: column; 
       align-items: center;
       width: 100%;

    }
    .links{
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .links button{
        width: 40%;
        margin:1% 0;
    }
    .topsection{
        display: flex;
        width:80%;
        height:100%;
        padding: 25%;
        margin: 1% auto;
    }
    .row div{
        width:40%
    }
    .row div .element {
        padding:1%
    }
}